/* Typing animation cycle */
@keyframes typing-cycle {
  0% {
    width: 0;
  }

  30% {
    width: 100%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

/* Blinking caret */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

/* Applied class */
.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid white;
  display: inline-block;
  /* 
     Cycle duration: 4s
     Steps: 11 ( Exact length of "Gear Master")
     Infinite loop
  */
  animation:
    typing-cycle 4s steps(11, end) infinite,
    blink-caret 0.75s step-end infinite;
}